/* h1, h2 {

color: red;

} */


/* * {

color: #8a2be2;

} */

.main-title {

color: #f315c3;

}

.main-subtitle {

    color: #21f50d;
}

.post {

background-color: #f3d759;

}

#firstPostTitle {

font-size: 72px;

}


